/* Paramètres généraux */
@font-face {
    font-family: "font-reg";
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: "font-bold";
    src: url(../fonts/PlayfairDisplay-ExtraBold.ttf);
}

/* Reset des marges de base */
* {
    padding: 0;
    margin: 0;
}

/* Changer couleur selection texte */
*::selection{
    background: #000101;
    color: #fefeff;
}

/* Changer le scroll de la page */
html{
    scroll-behavior: smooth;
}

/* Modification du body */
body{
    font-family: "font-reg", serif;
    background: #000101;
    color:#fefeff;
    transition: 0.7s ease-in-out;
}

/* Modification des h2 */
h2{
    font-size: calc(3rem + 5vw); /* taille dynamique ==> minimum / sinon ==> solution secondaire au media query */
    text-align: center;
    color: rgb(217, 217, 217);
    font-family: "font-bold", serif;
    letter-spacing: 3px;
}

/* Titre dynamique */
.title{
    font-size: calc(1.5rem + 5vw);
    letter-spacing: 0;
}

/* Modification des span */
span{
    display: inline-block; /* Pour l'effet parallax en JS ==> besoin d'être en block */
}

/* Modification des a + survol des a */
a, a:visited{
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color:#fefeff;
    transition: 0.1s linear;
    font-size: calc(0.8rem + 0.8vw);
}

/* Création de ligne en dessous des a */
a::after{
    content: ""; /* Obligatoire si after ou before */
    position: absolute; /* Obligatoire si after ou before */
    width: 100%;
    height: 1px;
    background: #fefeff;
    bottom: -4px;
    left:0;
    transform-origin: left; /* Signifier la transformation par la gauche */
}

/* Petit effet de grossiement + couleur au survol*/
a:hover{
    transform: scale(1.04);
    color: rgb(217, 217, 217);
}

/* Effet d'animation de la ligne */
a:hover::after{
    animation: animLink 1.4s infinite ease-in-out;
}

/* Création de l'effet d'animation de la ligne */
@keyframes animLink {
    50%{
        transform: scaleX(0.2); /* Diminution */
    }

    100%{
        transform: scaleX(1); /* Ligne de base */
    }
}

/* Modification des images */
.img{
    height: 395px;
    width: 100vw;
    max-width: 395px;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: 1.6s;
}

/* Modification couleur image au survol */
.img:hover{
    filter: grayscale(10%);
}

/* Création de la ligne de séparation */
.line{
    height: 2px;
    width: 70%;
    margin: 0 auto;
    background: #000101;
    transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
    /*transform-origin: left;*/
    transition-delay: 0.45s;
    opacity: 0;
    transform: scaleX(0);
}

.line-wrapper.is-inview .line{
    opacity: 1;
    transform: scaleX(1);
}

.wrapper{
    perspective: 900px;
}

.appear{
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: top-center;
    transform-style: preserve-3d;
    transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.appear.is-inview{
    transition-delay: 1s;
    opacity: 1;
    transform: none;
}

/* Header */
header{
    height: 100vh;
    position: relative;
    margin: 2vw 2vw 0;
}

.links{
    display: flex; /* scale ne fonctionne pas sans flex */
    justify-content: space-between; /* jcsb */
}

#h1-wrapper{
    transition-delay: 0.3s;
}

h1{
    font-size: calc(2rem + 8vw);
    margin-top: 70px;
    font-family: "font-bold", serif; /* ff */
    letter-spacing: 6px;
    color: #fefeff;
}

header h2{ /* Touche tous les h2, seulement dans le header */
    font-size: calc(1rem + 6.5vw);
    margin: 18px 0;
    text-align: left;
}

#h2-1{
    transition-delay: 0.9s;
}

#h2-2{
    transition-delay: 1.2s;
}

.scroll-wrapper{
    position: absolute;
    left: 50%;
    transform: translate(-50%); /* Afin de centrer ==> sinon se centre par rapport à sa première lettre */
    bottom: 3.5vw;
    color:rgb(217, 217, 217);
    font-size: calc(0.8rem + 0.5vw);
}

/* About */
.about{
    margin: 400px 0 250px;
}

.img1{
    background: url(../img/bill-gates-1.jpg) top/cover;
}

.h2-wrapper{
    mix-blend-mode: exclusion; /* Lire quelque chose au travers */
    margin: -220px 0 200px;
}

.about p{
    width: 70%;
    min-width: 280px;
    text-align: center;
    margin: 0 auto;
    line-height: calc(7px + 4.5vw);
    font-size: calc(1rem + 1vw);
    letter-spacing: 1px;
}

/* Expertise */
.skills{
    margin: 200px 0 250px;
}

.skills h2{
    margin-bottom: 150px;
}

.skills .wrapper{
    margin: 30px 0;
}

.skills .appear{
    text-align: center;
    transition-delay: 0.6s;
}

.skills p{
    font-size: calc(1rem + 6vw);
    font-family: "font-bold", serif;
    letter-spacing: 4px;
    background: #000101;
    color: #fefeff;
    display: inline-block; /* Au lieu de prendre tout l'espace, s'arrête là ou il a besoin */
    padding: 0 12px 12px 12px; /* haut droite bas gauche */
}

/* Portfolio */
.portfolio{
    margin: 200px 0;
}

.projects-container{
    margin-top: 100px;
}

.project{
    position: relative;
    width: 60vw;
    max-width: 600px;
    margin: 50px 5vw;
}

.project::before{
    content: "";
    position: absolute;
    height: 110%;
    width: 100%;
    top: -3px;
    background: #fefeff;
    transition: width 1s ease-out;
    transition-delay: 0.85s;
}

.project.is-inview::before{
    width: 0;
}

#p2{
    margin: 0 6vw 0 auto;
}

#p3{
    margin-left: 8vw;
}

.project img{
    transition: 0.4s ease-out;
    width: 100%; /* 100% de la taille de ton parent  100vw = 100% de tout l'écran */ 
}

.project:hover img{
    filter: brightness(20%);
}

.project:hover .project-infos{
    opacity: 1;
    transform: translate(0, -50%);
}

.project-infos{
    position: absolute;
    top: 50%;
    transform: translate(-50px, -50%); /* axe x / axe y */
    margin-left: 8vw;
    transition: 0.4s ease-out;
    opacity: 0; /* Cacher élément */
}

.project-infos a {
    font-size: calc(1rem + 3vw);
}

.project-infos p{
    font-size: 2rem;
    margin-top: 1.5vw;
    color: #fefeff;
}

/* Footer */
footer{
    margin: 150px 0 120px;
}

footer p{
    font-size: calc(1rem + 2vw);
    margin: 25px 0;
    text-align: center; /* tac */
}

#l2{
    transition-delay: 1.2s;
}

#l3{
    transition-delay: 1.6s;
}

footer a{
    font-family: "font-bold", serif;
    color:#000101;
    font-size: calc(1rem + 2vw);
}

.img2{
    background: url(../img/bill-gates-2.jpg) center/cover;
}

/* Absolute ==> peut-être placé n'importe ou dans les frontières de son éléments parent
==> parent == élément en relative, si pas, par défaut le body 
https://locomotivemtl.github.io/locomotive-scroll/ */
